main#main-one{
    margin-bottom: 10rem;
    .container{
        display: grid;
        grid-gap: 2rem;
        grid-template-areas: "d h1 b";
        .description{
            max-width: 40rem;
            font-size: 1.8rem;
            color: var(--text-color);
            grid-area: d;
        }
        h1{
            font-size: 5rem;
            font-weight: 700;
            color: var(--text-color);
            grid-area: h1;
        
        }
        .badge{
            grid-area: b;
        }
        .selected-artists{
            position: relative;
            margin-top: 5.5rem;
            .artists-perfil{
                display: flex;
                align-items: flex-end;
                .qtd-artists{
                    margin-left: .5rem;
                }
                span{
                    font-weight: 700;
                }
                img{
                    z-index: 4;
                    &:nth-child(2){
                        margin-left: -7rem;
                        z-index: 3;
                    }
                    &:nth-child(3){
                        margin-left: -6rem;
                        z-index: 2;
                    }
                    &:nth-child(4){
                        margin-left: -7rem;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
div.gallery {
        img{
            max-width: 28.7rem;
        }
        .container{
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 6rem;
            column-gap: 2.6rem;
    }
}